.fb-dark-button{
  border-radius: 2px;
  font-size: 0.9rem;
  padding: 6px 12px;
  box-shadow: inset 0 1px 0 0 #4d73bf;
  background: #4267b2;
  border: solid 1px #4267b2;
  color: #fff;
  text-shadow: #3359a5;
  font-weight: 600;
}

.fb-dark-button:hover{
  background: #2b54a7;
}

.fb-dark-button:active{
  background: #1d4698;
  border-color: #1d4698;
}

.fb-light-button{
  border-radius: 2px;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 6px 12px;
  background: #f6f7f9;
  border: solid 1px #ced0d4;
  color: #4b4f56;
}

.fb-light-button:hover{
  background: #e9ebee;
}

.fb-light-button:active{
  background: #d8dade;
  border-color: #d8dade;
}

.btns-3d{
  margin-top: 60px;
}